body {
	background-color: rgb(25, 25, 25);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	margin: 0px;
}

button {
	background-color: transparent;
	border: none;
	color: steelblue;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: inherit;
	font-weight: bold;
	height: 100%;
	outline: none;
	padding: 0px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

button:hover {
	background-color: steelblue;
	color: white;
}

h1 {
	background-color: steelblue;
	color: white;
	font-size: 1.4em;
	font-weight: normal;
	line-height: 1.1;
	margin: 0px;
	padding: 4px;
	text-align: center;
	transition: background-color 0.6s;
	-webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
}

table {
	border-spacing: 12px;
	margin: 10px auto;
}

td {
	border-radius: 25px;
	height: 120px;
	transition: background-color 0.6s;
	-webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
	width: 120px;
}

#color-code {
	font-size: 1.8em;
	text-transform: uppercase;
}

#notify {
	display: inline-block;
	width: 10%;
}

#strip {
	background-color: white;
	color: rgb(25, 25, 25);
	height: 30px;
	margin: 0px;
	text-align: center; 
}

.selected {
	background-color: steelblue;
	color: white;
}